<system
    xmlns="http://schema.paremus.com/sf/1"
    name="MQTTdemo"
    boundary="fibre"
    repopath="
      file:releaserepo/index-nim.xml,
      file:localrepo/index-nim.xml,
      https://www.bundlerepo.org/repos/paremus/index-nim.xml,
      https://www.bundlerepo.org/repos/oss/index-nim.xml
    ">
    
    <system.part category="msf" name="org.bndtools.rt.packager.mosquitto.guard">
      <!-- optional config -->
    <!-- <property name="port" value="1883" type="integer"/> -->
    </system.part>

  <system.part category="osgi.active.bundle" name="com.paremus.examples.mqtt.server"/>

  <!-- RSA Stack, with SLP discovery -->
  <!--
  <system.part category="osgi.active.bundle" name="com.paremus.dosgi.discovery.slp"/>
  <system.part category="osgi.active.bundle" name="com.paremus.dosgi.dws.essencermi"/>
  <system.part category="osgi.active.bundle" name="com.paremus.dosgi.topologymanager"/>
  -->


</system>
